body {
    font: 1.2em Arial, Helvetica, sans-serif;
}

h1 {
    background-color: burlywood;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    color: bisque;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    color: darkslateblue;
}

#author {
    color: darkslategrey;
    background-color: darkkhaki;

    border: 3px solid goldenrod;
    border-radius: 30px;
    align-content: center;
    padding: 1em;
}

.text-shadowLink {
    font-family: cursive;
    text-shadow: 1px 1px indigo;
}

.text-shadowLink a:link {
    color: cyan;
}

.text-shadowLink a:visited {
    color: purple;
}

.text-shadowLink a:hover {
    color: orange;

}

.text-shadowLink a:active {
    color: red;
}

#comments {
    background-color: lightyellow;
    border: 0.1em solid sandybrown;
    padding: 0.5em;
    margin-top: 1em;
    box-shadow: 0.2em 0.2em gray;
}