#flex-1,
#flex-2 {
  margin: 1em 0;
  background-color: purple;
}

.item {
  background-color: yellow;
  padding: 30px;
}

/* FLEX 1 */
#flex-1 {
  max-width: 500px;
  /* make this no wider than 500px */
  height: 400px;



  /* This is a flex container. What needs to be set? */
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 0;
  justify-content: space-between;
  align-items: flex-start;
  /* It's a column, displayed at the left, and spaced out vertically in the column. */

}

#flex-1 .item:nth-child(even) {
  display: flex;
  align-self: flex-end;

  /* This is a flex item. What needs to be set? */
  /* Even items go to the right side of the container. */

}

/* flex stuff for the even items in #flex-1 here */


/* FLEX 2 */
#flex-2 {
  padding: 1em;

  /* This is a flex container. */
  /* Set needed flex container properties here. */
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 1.5em;
}

.triple,
.single {
  padding: 1em;
  background-color: yellow;
  flex-flow: column nowrap;
  flex-basis: 0;
  flex-grow: 0;
  align-self: stretch
}

.triple {

  /* This is a flex item. */
  /* Use flex-basis and flex-grow so this is triple width. */
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 0;
  flex-grow: 3;
}

.single {
  display: flex;
  /* This is a flex item. */
  /* Use flex-basis and flex-grow so it's single width. */
  flex-basis: 0;
  flex-grow: 1;
}

#nested-flex {
  background-color: #bfa0bf;
  padding: 1em;


  /* This is a flex container. */
  /* This row can break to a new line. */
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 10px;
}

.card {
  background-color: orange;
  height: 150px;




  /* This is a flex item. */
  /* Cards have a default width of 100px (which flex item property--not width--to set the target width?) */
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100px;

}